DATABASE_URI=postgres://postgres:postgres@localhost:5434/postgres
NASA_FIRMS_MAP_KEY=
# NEXT_PUBLIC_SITE_URL=https://defensownik.solvro.pl
# NEXT_PUBLIC_ANALYTICS_SRC=
# NEXT_PUBLIC_ANALYTICS_WEBSITE_ID=
# NEXT_PUBLIC_AUTHOR_NAME=Solvro London
# NEXT_PUBLIC_AUTHOR_URL=
